<header class="navbar">

  <nav>

    <ul class="navbar-section">
      <li class="nav-item btn btn-link">
        <a [routerLink]="'/'">Home</a>
      </li>
      <li class="nav-item btn btn-link">
        <a [routerLink]="'/'">Film</a>
      </li>
      <li class="nav-item btn btn-link">
          <a [routerLink]="'/tv'">Série</a>
      </li>
      <li class="nav-item btn btn-link">
          <a [routerLink]="'/my-movie'">Mes films</a>
      </li>
    </ul>

    <ul class="navbar-section">
    </ul>

  </nav>

</header>
