<header class="navbar">

  <nav>

    <ul class="navbar-section">
      <li class="nav-item btn btn-link">
        <a [routerLink]="'/'">Film</a>
      </li>
      <li class="nav-item btn btn-link">
        <a [routerLink]="'/tv'">Série</a>
      </li>

    </ul>

    <ul class="navbar-section">
      <li *ngIf="user" class="nav-item btn btn-link bg-gray">
        Hello : {{user.email}}
      </li>
      <li *ngIf="user" class="nav-item btn btn-link">
        <a href="#" (click)="logout()">Logout</a>
      </li>
      <li *ngIf="!user" class="nav-item btn btn-link">
        <a [routerLink]="'/login'">Login</a>
      </li>
    </ul>

  </nav>

</header>
